mixin conditions(modifier)
  section.conditions&attributes(attributes)#conditions
    h2.conditions__title Условия участия в программе маркетинговой поддержки
    p.conditions__subtitle Программа маркетинговой поддержки для партнеров ООО «ТАНК» направлена на полное или частичное возмещение со стороны ООО «ТАНК» расходов Партнера - участника данной акции (далее по тексту «Партнер») на следующие мероприятия по продвижению торговых марок REON и WELLMIX
    ul.conditions__area
      li.conditions__item
        .conditions__title-box
          h3.conditions__item-title Бонусный счет партнера
          include ./img/conditions-arrow.svg
        .conditions__text Программа маркетинговой поддержки для партнеров ООО «ТАНК» направлена на полное или частичное возмещение со стороны ООО «ТАНК» расходов Партнера - участника данной акции (далее по тексту «Партнер») на следующие мероприятия по продвижению торговых марок REON и WELLMIX
      li.conditions__item
        .conditions__title-box
          h3.conditions__item-title Начисление бонусных баллов
          include ./img/conditions-arrow.svg
        .conditions__text Программа маркетинговой поддержки для партнеров ООО «ТАНК» направлена на полное или частичное возмещение со стороны ООО «ТАНК» расходов Партнера - участника данной акции (далее по тексту «Партнер») на следующие мероприятия по продвижению торговых марок REON и WELLMIX
      li.conditions__item
        .conditions__title-box
          h3.conditions__item-title Списание бонусных баллов
          include ./img/conditions-arrow.svg
        .conditions__text Программа маркетинговой поддержки для партнеров ООО «ТАНК» направлена на полное или частичное возмещение со стороны ООО «ТАНК» расходов Партнера - участника данной акции (далее по тексту «Партнер») на следующие мероприятия по продвижению торговых марок REON и WELLMIX
      li.conditions__item
        .conditions__title-box
          h3.conditions__item-title Правила заказа демонстрационные стенды
          include ./img/conditions-arrow.svg
        .conditions__text Программа маркетинговой поддержки для партнеров ООО «ТАНК» направлена на полное или частичное возмещение со стороны ООО «ТАНК» расходов Партнера - участника данной акции (далее по тексту «Партнер») на следующие мероприятия по продвижению торговых марок REON и WELLMIX
      li.conditions__item
        .conditions__title-box
          h3.conditions__item-title Правила заказа сувенирной и полиграфической продукции
          include ./img/conditions-arrow.svg
        .conditions__text Программа маркетинговой поддержки для партнеров ООО «ТАНК» направлена на полное или частичное возмещение со стороны ООО «ТАНК» расходов Партнера - участника данной акции (далее по тексту «Партнер») на следующие мероприятия по продвижению торговых марок REON и WELLMIX