.conditions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px 120px;

  &__title {
    max-width: 820px;
    margin-bottom: 30px;
    font-size: px-to-em(40);
    line-height: lh-to-pct(49, 40);
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--blue-color), var(--red-color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__subtitle {
    margin-bottom: 40px;
    font-size: px-to-em(18);
    line-height: lh-to-pct(22, 18);
    font-weight: 400;
    color: var(--black-color);
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px 0; 
    cursor: pointer;
    &:not(:last-of-type) {
      border-bottom: 2px solid;
      border-image: linear-gradient(to right,  var(--red-color), var(--blue-color));
      border-image-slice: 2;
    }
    &--open {
      svg {
        transform: rotate(-180deg);
      }
      .conditions__text {
        visibility: visible;
        max-height: 100%;
        padding: 20px 30px;
        opacity: 1;
        overflow: auto;
        transition: all 0.3s ease-in;
      }
    }
  }
  &__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  &__item-title {
    font-size: px-to-em(24);
    line-height: lh-to-pct(29, 24);
    font-weight: 700;
    color: var(--blue-color);
  }
  &__text {
    max-height: 0;
    padding: 0px 30px;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
    font-size: px-to-em(16);
    line-height: lh-to-pct(19, 16);
    font-weight: 400;
    color: var(--black-color);
  }
  @media screen and (max-width: 1399.98px) {
    padding: 0px 80px 100px;
  }
  @media screen and (max-width: 1199.98px) {
    &__title {
      margin-bottom: 20px;
      font-size: px-to-em(36);
    }
    &__subtitle {
      margin-bottom: 30px;
      font-size: px-to-em(16);
    }
    &__title-box {
      padding: 0 20px;
      svg {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
      }
    }
    &__item {
      &--open {
        .conditions__text {
          padding: 16px 20px;
        }
      }
    }
    &__item-title {
      font-size: px-to-em(20);
    }
    &__text {
      padding: 0px 20px;
      font-size: px-to-em(16);
    }
  }
  @media screen and (max-width: 991.98px) {
    padding: 0px 30px 80px;
    &__title {
      margin-bottom: 10px;
      font-size: px-to-em(28);
    }
    &__subtitle {
      margin-bottom: 20px;
      font-size: px-to-em(14);
    }
    &__title-box {
      padding: 0 10px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    &__item {
      &--open {
        .conditions__text {
          padding: 12px 10px;
        }
      }
    }
    &__item-title {
      font-size: px-to-em(16);
    }

    &__text {
      padding: 0px 10px;
      font-size: px-to-em(14);
    }
  }
  @media screen and (max-width: 575.98px) {
    padding: 0px 12px 80px;
    &__title {
      font-size: px-to-em(24);
    }
    &__subtitle {
      font-size: px-to-em(12);
    }
    &__title-box {
      padding: 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    &__item {
      padding: 8px 0; 
      &--open {
        .conditions__text {
          padding: 8px 0px;
        }
      }
    }
    &__item-title {
      font-size: px-to-em(14);
    }

    &__text {
      padding: 0;
      font-size: px-to-em(12);
    }
  }
  @media screen and (max-width: 359.98px) {
    &__title {
      font-size: px-to-em(20);
    }
  }
}
