mixin page-info(modifier)
  section.page-info&attributes(attributes)
    .page-info__text-box
      p.page-info__text Стенды для размещения оборудования изготовлены из металлического профиля и окрашены в фирменные цвета REON/WELLMIX. На стенд можно расположить оборудование в любой конфигурации, необходимой в Вашем торговом зале. Все товары снабжаются индексными табличками с QR- кодом для быстрого доступа к расширенной информации по продукции
      p.page-info__text Стенды для размещения оборудования изготовлены из металлического профиля и окрашены в фирменные цвета REON/WELLMIX. На стенд можно расположить оборудование в любой конфигурации, необходимой в Вашем торговом зале. Все товары снабжаются индексными табличками с QR- кодом для быстрого доступа к расширенной информации по продукции
      p.page-info__text Стенды для размещения оборудования изготовлены из металлического профиля и окрашены в фирменные цвета REON/WELLMIX. На стенд можно расположить оборудование в любой конфигурации, необходимой в Вашем торговом зале. Все товары снабжаются индексными табличками с QR- кодом для быстрого доступа к расширенной информации по продукции
    .page-info__slider.swiper
      .page-info__arrow.page-info__arrow--prev
        include ./img/arrow-slider.svg
      .swiper-wrapper.child
        .swiper-slide(lazy="true")
          img.page-info__image(src="img/1.png", alt="" loading="lazy")
        .swiper-slide(lazy="true")
          img.page-info__image(src="img/1.png", alt="" loading="lazy")
        .swiper-slide(lazy="true")
          img.page-info__image(src="img/1.png", alt="" loading="lazy")
        .swiper-slide(lazy="true")
          img.page-info__image(src="img/1.png", alt="" loading="lazy")
        .swiper-slide(lazy="true")
          img.page-info__image(src="img/1.png", alt="" loading="lazy")
        .swiper-slide(lazy="true")
          img.page-info__image(src="img/1.png", alt="" loading="lazy")
        .swiper-slide(lazy="true")
          img.page-info__image(src="img/1.png", alt="" loading="lazy")
        .swiper-slide(lazy="true")
          img.page-info__image(src="img/1.png", alt="" loading="lazy")
      .page-info__arrow.page-info__arrow--next
        include ./img/arrow-slider.svg
        