include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/welcome/welcome.pug
include ../blocks/support/support.pug
include ../blocks/download/download.pug
include ../blocks/study/study.pug
include ../blocks/team/team.pug
include ../blocks/conditions/conditions.pug
include ../blocks/contact/contact.pug
include ../blocks/page-welcome/page-welcome.pug
include ../blocks/page-info/page-info.pug
include ../blocks/reviews/reviews.pug
