mixin reviews(modifier)
  section.reviews&attributes(attributes)#reviews
    h2.reviews__title Отзывы о сотрудничестве
    .reviews__gallery.gallery
      a.reviews__link(href="img/mail.png" data-fancybox="gallery"): img.reviews__photo(src="img/mail.png", alt="")
      a.reviews__link(href="img/mail.png" data-fancybox="gallery"): img.reviews__photo(src="img/mail.png", alt="")
      a.reviews__link(href="img/mail.png" data-fancybox="gallery"): img.reviews__photo(src="img/mail.png", alt="")
      a.reviews__link(href="img/mail.png" data-fancybox="gallery"): img.reviews__photo(src="img/mail.png", alt="")
      a.reviews__link(href="img/mail.png" data-fancybox="gallery"): img.reviews__photo(src="img/mail.png", alt="")
      a.reviews__link(href="img/mail.png" data-fancybox="gallery"): img.reviews__photo(src="img/mail.png", alt="")
      a.reviews__link(href="img/mail.png" data-fancybox="gallery"): img.reviews__photo(src="img/mail.png", alt="")