.page-welcome {
  background-color: var(--blue-color);

  &__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 100px;
  }
  &__title {
    margin-bottom: 20px;
    max-width: 560px;
    font-size: px-to-em(52);
    line-height: lh-to-pct(63, 52);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    &::after {
      content: "";
      display: flex;
      width: 568px;
      height: 4px;
      margin: 20px 0 0;
      background-color: #ffffff;
    }
  }
  @media screen and (max-width: 1399.98px) {
    &__area {
      padding: 70px 80px;
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__title {
      font-size: px-to-em(46);
      &::after {
        width: 500px;
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    &__area {
      padding: 50px 30px;
    }
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
      font-size: px-to-em(40);
      &::after {
        width: 50%;
        height: 3px;
        margin: 10px 0;
      }
    }
  }    
  @media screen and (max-width: 575.98px) {
    &__area {
      padding: 40px 12px;
    }
    &__title {
      margin-bottom: 8px;
      font-size: px-to-em(32);
      &::after {
        width: 80%;
        height: 3px;
        margin: 8px 0;
      }
    }
  }
}
