.page-welcome {
  background-color: var(--blue-color);

  &__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 100px;
  }
  &__title {
    margin-bottom: 20px;
    max-width: 560px;
    font-size: px-to-em(52);
    line-height: lh-to-pct(63, 52);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    &::after {
      content: "";
      display: flex;
      width: 568px;
      height: 4px;
      margin: 20px 0 0;
      background-color: #ffffff;
    }
  }
}
