@import 'mixins';

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 100 900;
}

:root {
  --blue-color: #144889;
  --red-color: #C4213C;
  --black-color: #000D16;
}

html {
  scroll-behavior: smooth;
}

body, ul, ol, button, input, a {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.2) inset;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(315deg, var(--blue-color), var(--red-color) 100%);
  border-radius: 20px;
}

button, input, a, svg {
  transition: all 0.3s ease-in-out;
}
ul, ol {
  list-style: none;
}

* {
  box-sizing: border-box;
  transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
::selection {
  background: #c4213c94;
  color: #fff;
}
::-moz-selection {
  background: #c4213c94;
  color: #fff;
}

@import './src/blocks/header/header';
@import './src/blocks/footer/footer';
@import './src/blocks/welcome/welcome';
@import './src/blocks/support/support';
@import './src/blocks/download/download';
@import './src/blocks/study/study';
@import './src/blocks/team/team';
@import './src/blocks/conditions/conditions';
@import './src/blocks/contact/contact';
@import './src/blocks/page-welcome/page-welcome';
@import './src/blocks/page-info/page-info';