mixin team(modifier)
  section.team&attributes(attributes)#team
    h2.team__title Команда отдела маркетинга
    .team__area
      .team__box
        h3.team__name Ксения Шараева
        p.team__post Интернет-маркетолог
        a.team__mail(href="mailto:") reklama@waterman-t.com
        img.team__photo(src="img/team.png", alt="")
      .team__box
        h3.team__name Татьяна Бумаженко
        p.team__post Руководитель отдела маркетинга
        a.team__mail(href="mailto:") reklama@waterman-t.com
        img.team__photo(src="img/team.png", alt="")
      .team__box
        h3.team__name Демина Валерия
        p.team__post Менеджер по рекламе 
        a.team__mail(href="mailto:") reklama@waterman-t.com
        img.team__photo(src="img/team.png", alt="")