mixin study(modifier)
  section.study&attributes(attributes)#study
    h2.study__title Обучение
    .study__area
      .study__info
        p.study__text Вот вам яркий пример современных тенденций — убеждённость некоторых оппонентов не даёт нам иного выбора, кроме определения модели развития. Картельные сговоры не допускают ситуации, при которой явные признаки победы институционализации представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
        p.study__text Вот вам яркий пример современных тенденций — убеждённость некоторых оппонентов не даёт нам иного выбора, кроме определения модели развития.
      a.study__link(href="#contact") Оставить заявку
    img.study__image(src="img/study.png", alt="")
      
      