mixin study(modifier)
  section.study&attributes(attributes)#study
    h2.study__title Семинары и&nbsp;презентации
    img.study__image(src="img/study.png", alt="")
    .study__area
      .study__info
        p.study__text ООО “ТАНК” приглашает к  совместному проведению семинаров и презентаций по нашему оборудованию в вашем городе.
        p.study__text Затраты на организацию и проведения делятся 50/50 между партнёром-организатором и ООО “ТАНК”.
        p.study__text На данных мероприятиях наши специалисты презентуют компанию и продукцию брендов REON и WELLMIX вашим сотрудникам и клиентам.
        p.study__text Мероприятия обеспечиваются полиграфической и сувенирной продукцией.
        p.study__text Заявку на проведение семинара можно оставить через своего регионального представителя или заполнив форму “оставить заявку”.
      a.study__link(href="#contact") Оставить заявку