.study {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 100px 120px;

  &__title {
    max-width: 50%;
    margin-bottom: 30px;
    font-size: px-to-em(40);
    line-height: lh-to-pct(49, 40);
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--blue-color), var(--red-color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    max-width: 60%;
    min-height: 370px;
    padding: 30px 230px 30px 30px;
    background-color: var(--blue-color);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.25);
  }
  &__text {
    font-size: px-to-em(16);
    line-height: lh-to-pct(20, 16);
    font-weight: 600;
    color: #ffffff;
  }
  &__image {
    position: absolute;
    top: 0;
    right: 100px;
    max-width: 685px;
    max-height: 380px;
    object-fit: cover;
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.25);
  }
  &__link {
    padding: 14px 48px;
    font-size: px-to-em(20);
    line-height: lh-to-pct(24, 20);
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(90.00deg, var(--blue-color),var(--red-color) 100%);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      transform: translateY(-6px);
    }
  }
  @media screen and (max-width: 1399.98px) {
    padding: 0px 80px 100px;
    &__info {
      max-width: 64%;
      min-height: auto;
      padding: 30px 230px 30px 30px;
    }
    &__image {
      right: 80px;
      max-width: 600px;
      max-height: auto;
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__title {
      margin-bottom: 20px;
      font-size: px-to-em(36);
    }
    &__info {
      max-width: 68%;
      min-height: auto;
      padding: 30px 210px 30px 30px;
    }
    &__image {
      right: 80px;
      max-width: 450px;
      max-height: auto;
    }
    &__link {
      padding: 12px 40px;
      font-size: px-to-em(16);
    }
  }
  @media screen and (max-width: 991.98px) {
    padding: 0px 30px 80px;
    &__title {
      font-size: px-to-em(28);
    }
    &__image {
      position: relative;
      right: 0px;
      max-width: 450px;
      max-height: auto;
      margin: 0 auto -40px;
    }
    &__area {
      flex-direction: column;
      align-items: center;
      row-gap: 12px;
    }
    &__info {
      max-width: 100%;
      padding: 60px 20px 30px;
      row-gap: 20px;
    }
    &__text {
      text-align: center;
      font-size: px-to-em(14);
    }
    &__link {
      padding: 12px 40px;
      font-size: px-to-em(14);
    }
  }
  @media screen and (max-width: 575.98px) {
    padding: 0px 12px 80px;
    &__title {
      font-size: px-to-em(24);
    }
    &__image {
      max-width: 80%;
    }
    &__text {
      text-align: center;
      font-size: px-to-em(12);
      font-weight: 500;
    }
    &__link {
      padding: 10px 30px;
    }
  }
  @media screen and (max-width: 359.98px) {
    &__title {
      font-size: px-to-em(20);
    }
  }
}
