mixin footer(modifier)
  footer.footer&attributes(attributes)
    .footer__area
      .footer__logo-box
        a.footer__logo-link(href="/")  
          img.footer__logo(src="img/logo.svg", alt="Logo")
        p.footer__copyright 2024 © ООО «ТАНК»
      .footer__contact-box
        h2.footer__title Контакты отдела маркетинга:
        a.footer__contact(href="mailto:reklama@waterman-t.com")
          include ./img/mail.svg
          | reklama@waterman-t.com
        a.footer__contact(href="tel:+79999999999")
          include ./img/phone.svg
          | +7 (999) 999-99-99
        .footer__messangers
          a.footer__messanger(href="#")
            include ./img/header-wa.svg
          a.footer__messanger(href="#")
            include ./img/header-tg.svg
      .footer__menu-box
        ul.footer__menu-list
          li.footer__menu-item.footer__menu-item--title Маркетинг-банк
          li.footer__menu-item: a.footer__submenu-link(href="#") Стенды
          li.footer__menu-item: a.footer__submenu-link(href="#") Маркетинговые материалы
          li.footer__menu-item: a.footer__submenu-link(href="#") Семинары и презентации
          li.footer__menu-item: a.footer__submenu-link(href="#") Сайт и интернет
        ul.footer__menu-list
          li.footer__menu-item: a.footer__menu-link(href="#team") Команда
          li.footer__menu-item: a.footer__menu-link(href="#study") Обучение
          li.footer__menu-item: a.footer__menu-link(href="#lists") Референс-листы
