.support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 100px 120px;

  &__title {
    margin-bottom: 30px;
    font-size: px-to-em(40);
    line-height: lh-to-pct(49, 40);
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--blue-color), var(--red-color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__tab-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 14px;
    margin-bottom: 30px;
  }
  &__tab-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 14px 10px;
    background-color: var(--red-color);
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    overflow: hidden;
    &:hover {
      transform: translateY(-6px);
    }
  }
  &__tab-title {
    max-width: 210px;
    font-size: px-to-em(20);
    line-height: lh-to-pct(24, 20);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 14px;
  }
  &__image {
    max-width: 100%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }
  &__info-title {
    margin-bottom: 20px;
    font-size: px-to-em(32);
    line-height: lh-to-pct(39, 32);
    font-weight: 600;
    color: var(--blue-color);
    text-transform: uppercase;
  }
  &__text {
    margin-bottom: 26px;
    font-size: px-to-em(18);
    line-height: lh-to-pct(22, 18);
    font-weight: 400;
    color: var(--black-color);
  }
  &__site-link {
    text-decoration: none;
    color: var(--red-color);
    &:hover {
      color: var(--blue-color);
    }
  }
  &__link {
    padding: 14px 38px;
    font-size: px-to-em(20);
    line-height: lh-to-pct(24, 20);
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(90.00deg, var(--blue-color),var(--red-color) 100%);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      transform: translateY(-6px);
    }
  }
  @media screen and (max-width: 1399.98px) {
    padding: 50px 80px 100px;
    &__tab-title {
      font-size: px-to-em(18);
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__title {
      margin-bottom: 20px;
      font-size: px-to-em(36);
    }
    &__tab-list {
      margin-bottom: 20px;
    }
    &__info-title {
      margin-bottom: 10px;
      font-size: px-to-em(26);
    }
    &__text {
      margin-bottom: 20px;
      font-size: px-to-em(16);
    }
    &__link {
      padding: 12px 32px;
      font-size: px-to-em(16);
    }
  }
  @media screen and (max-width: 991.98px) {
    padding: 50px 30px 80px;
    &__title {
      font-size: px-to-em(28);
    }
    &__tab-list {
      column-gap: 8px;
    }
    &__tab-link {
      align-items: center;
      justify-content: center;
      padding: 12px 10px;
    }
    &__tab-title {
      max-width: 100%;
      margin-bottom: 0;
      font-size: px-to-em(14);
      text-align: center;
    }
    &__box {
      column-gap: 8px;
    }
    &__info {
      padding-left: 20px;
    }
    &__info-title {
      font-size: px-to-em(20);
    }
    &__text {
      margin-bottom: 16px;
      font-size: px-to-em(14);
    }
    &__link {
      padding: 10px 30px;
      font-size: px-to-em(14);
    }
  }
  @media screen and (max-width: 768.98px) {
    &__tab-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 6px;
    }
  }
  @media screen and (max-width: 575.98px) {
    padding: 50px 12px 80px;
    &__title {
      font-size: px-to-em(24);
    }
    &__tab-title {
      font-weight: 500;
      font-size: px-to-em(12);
    }
    &__box {
      grid-template-columns: 1fr;
      gap: 10px 0;
    }
    &__image {
      max-width: 80%;
      margin: 0 auto;
    }
    &__info {
      align-items: center;
      padding-left: 0;
    }
    &__info-title {
      font-size: px-to-em(18);
      text-align: center;
    }
    &__text {
      margin-bottom: 14px;
      font-size: px-to-em(12);
      text-align: center;
    }
    &__link {
      padding: 10px 30px;
      font-size: px-to-em(14);
    }
  }
  @media screen and (max-width: 359.98px) {
    &__title {
      font-size: px-to-em(20);
    }
    &__image {
      max-width: 100%;
    }
  }
}