mixin support(modifier)
  section.support&attributes(attributes)
    h2.support__title Варианты поддержки
    .support__tabs#tabs
      ul.support__tab-list
        li.support__tab-item
          a.support__tab-link(href="#tab1")
            h3.support__tab-title СТЕНДЫ
            p.support__tab-text Стенды или бренд-зона для оформления вашего офиса
        li.support__tab-item
          a.support__tab-link(href="#tab2")
            h3.support__tab-title Маркетинговые материалы
            p.support__tab-text Полиграфическая и сувенирная продукция для ваших клиентов
        li.support__tab-item
          a.support__tab-link(href="#tab3")
            h3.support__tab-title Семинары и презентации
            p.support__tab-text Организация презентацийи обучающих семинаров для ваших клиентов
        li.support__tab-item
          a.support__tab-link(href="#tab4")
            h3.support__tab-title Сайт и интернет
            p.support__tab-text Компенсация расходов наконтекстную и таргетированную рекламу. Файлы с характеристиками товаров для наполнения сайтов
      .support__box#tab1
        img.support__image(src="img/1.png", alt="")
        .support__info
          h4.support__info-title Стенды с оборудованием
          p.support__text Стенды для размещения оборудования изготовлены из металлического профиля и окрашены в фирменные цвета REON/WELLMIX. На стенд можно расположить оборудование в любой конфигурации, необходимой в Вашем торговом зале. Все товары снабжаются индексными табличками с QR- кодом для быстрого доступа к расширенной информации по продукции
          a.support__link(href="page.html") Узнать подробнее
      .support__box#tab2
        img.support__image(src="img/1.png", alt="")
        .support__info
          h4.support__info-title Маркетинговые материалы
          p.support__text Стенды для размещения оборудования изготовлены из металлического профиля и окрашены в фирменные цвета REON/WELLMIX. На стенд можно расположить оборудование в любой конфигурации, необходимой в Вашем торговом зале. Все товары снабжаются индексными табличками с QR- кодом для быстрого доступа к расширенной информации по продукции
          a.support__link(href="page.html") Узнать подробнее
      .support__box#tab3
        img.support__image(src="img/1.png", alt="")
        .support__info
          h4.support__info-title Семинары и презентации
          p.support__text Стенды для размещения оборудования изготовлены из металлического профиля и окрашены в фирменные цвета REON/WELLMIX. На стенд можно расположить оборудование в любой конфигурации, необходимой в Вашем торговом зале. Все товары снабжаются индексными табличками с QR- кодом для быстрого доступа к расширенной информации по продукции
          a.support__link(href="page.html") Узнать подробнее
      .support__box#tab4
        img.support__image(src="img/1.png", alt="")
        .support__info
          h4.support__info-title Сайт и интернет
          p.support__text Стенды для размещения оборудования изготовлены из металлического профиля и окрашены в фирменные цвета REON/WELLMIX. На стенд можно расположить оборудование в любой конфигурации, необходимой в Вашем торговом зале. Все товары снабжаются индексными табличками с QR- кодом для быстрого доступа к расширенной информации по продукции
          a.support__link(href="page.html") Узнать подробнее