mixin support(modifier)
  section.support&attributes(attributes)
    h2.support__title Варианты поддержки
    .support__tabs#tabs
      ul.support__tab-list
        li.support__tab-item
          a.support__tab-link(href="#tab1")
            h3.support__tab-title СТЕНДЫ
        li.support__tab-item
          a.support__tab-link(href="#tab2")
            h3.support__tab-title Маркетинговые материалы
        li.support__tab-item
          a.support__tab-link(href="#tab3")
            h3.support__tab-title Семинары и презентации
        li.support__tab-item
          a.support__tab-link(href="#tab4")
            h3.support__tab-title Сайт и интернет
      .support__box#tab1
        img.support__image(src="img/1.png", alt="")
        .support__info
          h4.support__info-title СТЕНДЫ ДЕМОНСТРАЦИОННЫЕ REON/WELLMIX
          p.support__text Стенды для размещения оборудования изготовлены из металлического профиля и окрашены в фирменные цвета REON/WELLMIX. <br> Стенды снабжены фирменным фризом с логотипом, а также магнитными табличками с названием  оборудования и QR- кодами для быстрого доступа к расширенной информации по продукции.
          a.support__link(href="page.html") Узнать подробнее
      .support__box#tab2
        img.support__image(src="img/1.png", alt="")
        .support__info
          h4.support__info-title Маркетинговые материалы
          p.support__text В целях продвижения брендов REON и WELLMIX и поддержки продаж, ООО “ТАНК”  обеспечивает дилеров и партнеров рекламными и информационными материалами.
          a.support__link(href="page.html") Узнать подробнее
      .support__box#tab3
        img.support__image(src="img/1.png", alt="")
        .support__info
          h4.support__info-title Семинары и презентации
          p.support__text ООО “ТАНК” приглашает к  совместному проведению семинаров и презентаций по нашему оборудованию в вашем городе.<br>Затраты на организацию и проведения делятся 50/50 между партнёром-организатором и ООО “ТАНК”.<br>На данных мероприятиях наши специалисты презентуют компанию и продукцию брендов REON и WELLMIX вашим сотрудникам и клиентам.
          a.support__link(href="page.html") Узнать подробнее
      .support__box#tab4
        img.support__image(src="img/1.png", alt="")
        .support__info
          h4.support__info-title Сайт и интернет
          p.support__text Сайты 
            a.support__site-link(href="reon-armatura.ru") reon-armatura.ru
            |  и 
            a.support__site-link(href="wellmix-pump.ru") wellmix-pump.ru
            |  - это современный и актуальный инструмент поддержки продаж. На наших сайтах всегда свежая и актуальная информаци
          a.support__link(href="page.html") Узнать подробнее