mixin welcome(modifier)
  section.welcome&attributes(attributes)
    .welcome__area
      h1.welcome__title Маркетинг
      p.welcome__subtitle Всесторонняя маркетинговая поддержка для Дилеров и Партнеров