mixin download(modifier)
  section.download&attributes(attributes)#lists
    .download__area
      .download__wrapper.download__wrapper--info
        h2.download__title Референс-листы
        p.download__text Вот вам яркий пример современных тенденций — убеждённость некоторых оппонентов не даёт нам иного выбора, кроме определения модели развития. 
      .download__wrapper.download__wrapper--btns
        a.download__link.download__link--toright(href="#" download) REON
        a.download__link.download__link--toleft(href="#" download) Wellmix