.download {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 100px 120px;

  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--info {
      width: 52%;
    }
    &--btns {
      row-gap: 20px;
      width: 48%;
    }
  }
  &__title {
    margin-bottom: 10px;
    font-size: px-to-em(40);
    line-height: lh-to-pct(49, 40);
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--blue-color), var(--red-color));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__text {
    font-size: px-to-em(16);
    line-height: lh-to-pct(20, 16);
    font-weight: 400;
    color: var(--black-color);
  }
  &__link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 24px;
    font-size: px-to-em(32);
    line-height: lh-to-pct(39, 32);
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    &--toright {
      background: linear-gradient(90deg, var(--blue-color), var(--red-color) 100%);
    }
    &--toleft {
      background: linear-gradient(270deg, var(--blue-color), var(--red-color) 100%);
    }
    &:hover {
      transform: translateY(-6px);
    }
  }
  @media screen and (max-width: 1399.98px) {
    padding: 0px 80px 100px;
    &__wrapper {
      &--info {
        width: 50%;
      }
      &--btns {
        width: 50%;
      }
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__title {
      margin-bottom: 20px;
      font-size: px-to-em(36);
    }
    &__link {
      font-size: px-to-em(28);
    }
  }
  @media screen and (max-width: 991.98px) {
    padding: 0 30px 80px;
    &__area {
      column-gap: 20px;
    }
    &__title {
      font-size: px-to-em(28);
    }
    &__text {
      font-size: px-to-em(14);
    }
    &__link {
      padding: 12px 24px;
      font-size: px-to-em(20);
    }
  }
  @media screen and (max-width: 575.98px) {
    padding: 0 12px 80px;
    &__area {
      flex-direction: column;
      gap: 20px 0;
    }
    &__wrapper {
      &--info {
        width: 100%;
      }
      &--btns {
        row-gap: 10px;
        width: 100%;
      }
    }
    &__title {
      margin-bottom: 10px;
      font-size: px-to-em(24);
    }
    &__text {
      font-size: px-to-em(12);
    }
    &__link {
      padding: 10px 24px;
      font-size: px-to-em(16);
    }
  }
  @media screen and (max-width: 359.98px) {
    &__title {
      font-size: px-to-em(20);
    }
  }
}
